#mainBox {
    border: 15px solid teal;
    padding: 50px;
    margin: 20px;
    background-color: teal;
    text-align: center;
    color: white;
}

/* give margin */
.row{
    border: 15px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    /* text bold */
    font-weight: bold;
}
#button{
    padding-top: 15px;
    padding-left:25px;
}

#claculation{
    padding-left: 25px;   
}